/*titulos y subtitulos font-family: 'Roboto', sans-serif;*/
/*párrafos y textos font-family: 'Alegreya Sans', sans-serif;*/

body{
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 400;
}

.no-margin{
	margin: 0;
	padding: 0;
}

.mainMenu{
	padding-top: 1.5em;
	vertical-align: middle;
}

.fa-envelope-o,.fa-bell{
	padding-top: 0.3em;
	padding-bottom: 0.4em;
}

.fa-search{
	padding: 0.1em 0.3em;
}


/* Perfil Box */
.perfilBox{
	background-color: #fff;
	border:0.1em solid #A4A4A4;
	text-align: center;
}
.perfilBox p{
	text-align: center;
	font-size: 1em;
}

.perfilBox h4{
	font-family: 'Roboto', sans-serif;
	text-align: center;

}

.photoPerfil{
	border-radius: 70%;
	width: 150px;
	height: 150px;
}

.editButton, .addDataButton, .imageUploadButton{
	margin-top: 0.5em;
	background-color: #FE2E2E;
	color:#fff;
}
li a{
	color: #FE2E2E;
}

.numeralCircle{
	background-color: #FE2E2E; 
}


/* Galleria */

.gal {
	
	
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
	  
	
	}	
	.gal img{ width: 100%; padding: 7px 0;}
@media (max-width: 500px) {
		
		.gal {
	
	
	-webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
	  
	
	}
		
	}
.galleryUser{
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	border:0.1em solid #A4A4A4;
}

/* caja para subir contenido */
.uploadContent{
	background-color: #fff;
	border:0.1em solid #A4A4A4;
}
.uploadContent h3{
	font-family: 'Roboto', sans-serif;
	font-weight: 900;

}
/* Ventana de contenidos */
.contentContacts{
	background-color: #fff;
	border:0.1em solid #A4A4A4;
}
.contentContacts h4{
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	padding-bottom: 1em;
}
.contentContacts img{
	padding-bottom: 1em;
	width: 500px;
}
.contentContacts p{
	font-size: 1.3em;
}

.fa-heart, .fa-compass, .fa-bookmark{
	margin-top: 0.5em;
	padding-right: 0.5em;
}


/* imageCarousel*/

.imageCarousel{
	background-color: #fff;
	border:0.1em solid #A4A4A4;
}